<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quallarix.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
				<key>dateExpires</key>
				<string>1/1/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ActionSheetPicker_3_0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ActiveLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Pageboy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PromisedFuture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Tabman.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3243E21F38471F1F98DCE10C9B4A709AE531B58</string>
						<key>dateExpires</key>
						<string>1/1/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>5R5K3RAFF7.pe.com.movistar.qallarix-ios.NotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>5R5K3RAFF7</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>5R5K3RAFF7.pe.com.movistar.qallarix-ios.NotificationService</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>323f2866-470c-44f7-ab2b-ea3587adbac0</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: pe.com.movistar.qallarix-ios.NotificationService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5R5K3RAFF7</string>
						<key>name</key>
						<string>Telefonica Moviles S.A.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5R5K3RAFF7.pe.com.movistar.qallarix-ios</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5R5K3RAFF7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Quallarix.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>136bb093-161f-4262-be23-e8f18717dfba</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: pe.com.movistar.qallarix-ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5R5K3RAFF7</string>
				<key>name</key>
				<string>Telefonica Moviles S.A.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
